*{
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
header{
    background: linear-gradient(rgba(0,0,0,0.01),#009684),url(images/background.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}
ul{
    float: right;
    list-style-type: none;
    margin-top: 25px;
}
ul li{
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 20px;
    border: 1px solid #fff;
}
ul li a:hover{
    background-color: #fff;
    color: #000;
    transition: 0.6s ease;
}
.logo{
	width: 100px;
	position: absolute;
	top: 4%;
	left: 10%
}
.Banner-text{
    text-align: center;
    color: beige;
    padding-top: 180px;
}
.Banner-text h1{
    font-size: 80px;
    font-family: 'Kaushan Script', cursive;
}
.Banner-text p{
    font-size: 15px;
    font-style: italic;
    font-family: 'Bitter', serif;
}
.Banner-btn{
    margin: 70px auto 0;
}
.Banner-btn a{
    width: 150px;
    text-decoration: none;
    display: inline-block;
    margin: 0 10px;
    padding: 12px 0;
    color: #fff;
    border: .5px solid #000;
    position: relative;
    z-index: 1;
    transition: color 0.5s ;
}
.Banner-btn a span{
    width: 0%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background: #000;
    z-index: -1;
    transition: .5s;
}
.Banner-btn a:hover span{
    width: 100%;
}
.Banner-btn a:hover{
    color: rgb(116, 116, 173);
}
#AboutUs{
    width: 100%;
    padding: 70px 0;
    background-attachment: fixed;
}
#AboutUs h5{
    width: 100%;
    text-align: center;
    font-size: 50px;
    margin: auto;
    color: #009684;
    font-weight: bold;
}
#AboutUs p{
    width: 80%;
    text-align: center;
    margin: auto;
}
#OurServices{
    width: 100%;
    padding: 70px 0;
}
.title-text{
    text-align: center;
    padding-bottom: 70px;
}
.title-text p{
    margin: auto;
    font-size: 20px;
    color: #009684;
    font-weight: bold;
    position: relative;
    z-index: 1;
    display: inline-block;
}
.title-text p::after{
    content:'';
    width: 50px;
    height: 35px;
    background: linear-gradient(#019587,#fff);
    position: absolute;
    top: -20px;
    left: 0;
    z-index: -1;
    transform: rotate(10deg);
    border-top-left-radius: 30px;
}
.title-text h1{
    font-size: 40px;
}
/*-----Service----*/
#Service{
    width: 100%;
    padding: 70px 0;
    background: #efefef;
}
.Service-box{
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin: auto;
}
.single-service{
    flex-basis: 48%;
    text-align: center;
    border-radius: 7px;
    margin-bottom: 20px;
    color: #fff;
    position: relative;
}
.single-service img{
    width: 100%;
    border-radius: 7px;
}
/*----reviews----*/
#Testimonial{
    width: 100%;
    padding: 70px;
}
.testimonial-row{
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
}
.testimonial-col{
    flex-basis: 28%;
    padding: 10px;
    margin-bottom: 30px;
    border-radius: 5px;
    box-shadow: 0 10px 20px 3px #01958714;
    cursor: pointer;
    transition: transform .5s;
}
.testimonial-col p{
    font-size: 14px;
}
.user{
    display: flex;
    align-items: center;
    margin: 20px , 0;
}
.user img{
    width: 40px;
    margin-right: 20px;
    border-radius: 3px;
}
.user-info small{
    color: #019587;
}
.testimonial-col:hover{
    transform: translateY(7px);

}
/*---footer---*/
#footer{
    padding: 100px 0 20px;
    background: #efefef;
}
